name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-lint-test:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Enable Corepack and set Yarn version
        run: |
          corepack enable
          corepack prepare yarn@3.2.1 --activate
      - name: Install dependencies without immutable
        run: yarn install --no-immutable
  
      - name: Verify dependencies with immutable
        run: |
          set +e
          yarn install --immutable
          if [[ $? -ne 0 ]]; then
            echo "Lockfile would be modified, skipping --immutable check"
          fi      
      - run: yarn build
      # - run: yarn lint
      # - run: yarn test
      - name: Cache snap build
        if: ${{ matrix.node-version == '20.x' }}
        uses: actions/cache@v3
        with:
          path: ./packages/snap/dist
          key: snap-${{ runner.os }}-${{ github.sha }}
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.yarn-cache
          key: yarn-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

  # e2e:
  #   name: End-to-end Tests
  #   runs-on: ubuntu-latest
  #   needs:
  #     - build-lint-test
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version-file: '.nvmrc'
  #         cache: 'yarn'
  #     - name: Restore snap build cache
  #       uses: actions/cache@v3
  #       with:
  #         path: ./packages/snap/dist
  #         key: snap-${{ runner.os }}-${{ github.sha }}
  #     - run: yarn install --immutable
  #     - name: Install Google Chrome
  #       run: yarn install-chrome
  #     - name: Run e2e tests
  #       run: yarn workspace @polkagate/snap run test
        
  all-jobs-pass:
    name: All jobs pass
    runs-on: ubuntu-latest
    needs:
      - build-lint-test
      # - e2e
    steps:
      - run: echo "Great success!"
    
